@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  min-width: 500px;
  font-family: 'Montserrat', sans-serif;
  background-color: #484848;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: rgb(230, 230, 230);
  margin: auto;
}

.app__container {
  width: 500px;
  height: 670px;
  padding: 35px 0 25px;
  background-color: #242424;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.app__loader {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app__loader-title {
  font-size: 26px;
  font-weight: 400;
}

.app__not-found {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  gap: 30px;
}

.app__not-found-title {
  font-size: 26px;
  font-weight: 400;
}

.forecast-search {
  margin: 0 auto;
  width: 260px;
  position: relative;
}

.forecast-search__list {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60px;
  left: 20px;
  width: 220px;
  height: 60px;
  background-color: #363636;
  border: #242424 solid 1px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.forecast-search__input {
  display: block;
  margin-bottom: 30px;
  width: 220px;
  height: 60px;
  padding: 0 20px;
  border: none;
  border-radius: 25px;
  background-color: #363636;
  font-size: 24px;
  font-weight: 300;
  color: rgb(230, 230, 230);
  outline-style: none;
}

.forecast-search__input::placeholder {
  visibility: hidden;
  font-size: 20px;
  font-weight: 200;
  color: rgb(230, 230, 230);
}

.forecast-search__btn {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.forecast-search__btn-icon {
  width: 45px;
}

.forecast-search__icon {
  background-color: #242424;
}

.forecast-search__icon {
  width: 30px;
}

.weather-current {
  text-align: center;
  margin-bottom: 50px;
}

.weather-current__city {
  font-size: 30px;
  font-weight: 500;
}

.weather-current__temp {
  font-size: 80px;
  font-weight: 200;
  line-height: 0;
  margin-bottom: 60px;
}

.weather-current__temp::after {
  position: absolute;
  content: '\00B0';
}

.weather-current__desc {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
}

.weather-current__icon {
  width: 20%;
}

.search {
  max-width: 300px;
  margin: auto;
}

.weather-weekly {
  text-align: center;
  padding: 0 50px;
}

.weather-weekly__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 14px;
  justify-content: space-between;
}

.weather-weekly__forecast {
  width: 90px;
  justify-self: end;
  display: flex;
  justify-content: space-between;
}
.weather-weekly__day {
  font-size: 20px;
  font-weight: 400;
  justify-self: start;
}
.weather-weekly__temp {
  font-size: 24px;
  font-weight: 400;
  /* justify-self: start; */
}
